.contact-section {
    height: auto;
}

.contact-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 5rem;
}

.contact-heading-small {
    font-size: 0.8rem;
    font-weight: bold;
    color: #007BFF;
    margin: 0;
}

.contact-heading-large {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.contact-heading-medium {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333333a2;
    margin: 0;
}

.contact-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.contact-types {
    display: flex;
    flex-direction: row;
    gap: 2rem;

}

.contact-type-p {
    margin: 0;
    margin-top: 0.5rem;
}



@media (max-width: 768px) {
    .contact-section {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 2rem;
    }

    .contact-types {
        flex-direction: column;
    }
}


@media (min-width: 1440px) {
    .contact-section {
        padding-left: 20rem;
        padding-right: 20rem;
    }
}