footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.socials a {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.socials a:hover {
    background-color: cornflowerblue;
}

.socials a img {
    width: 24px;
    aspect-ratio: 1/1;
    transition: filter 0.3s ease;
}

.socials a:hover img {
    filter: invert(1); 
}

.copyright {
    color: #333333a2;
}