/* General container styles */
.highlighted-projects-section {
    height: auto;
}

.highlighted-projects-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 5rem;
}

.projects-heading-small {
    font-size: 0.8rem;
    font-weight: bold;
    color: #007BFF;
    margin: 0;
}

.projects-heading-large {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.projects-heading-large-light {
    font-size: 1.6rem;
    font-weight: bold;
    color: #333333a2;
    margin: 0;
}

.project-types {
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
    gap: 1.5rem;
}

.project-type-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 2px solid #007BFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 0.5rem;
}

.project-type-icon img {
    max-width: 100%;
    max-height: 100%;
    filter: invert(29%) sepia(96%) saturate(2676%) hue-rotate(203deg) brightness(95%) contrast(85%);
}

.project-type-heading {
    font-size: 1.2rem;
    margin: 0;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.project-type-description {
    margin: 0;
}

.project-heading {
    font-size: 1.2rem;
    margin: 0;
    padding-top: 0.2rem;
}

.project-description {
    margin: 0;
}

.carousel-container {
    max-width: 1044px;
    margin: 0 auto;
    padding: 0 20px;
}

.carousel {
    display: block;
    text-align: left;
    position: relative;
    margin-bottom: 22px;
    width: 100%;
    max-width: 100%;
}

.carousel>input {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.carousel__slides {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
    transition: margin-left 0.5s ease-out;
}

.carousel__slide {
    position: relative;
    display: block;
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 300ms ease-out;
    box-sizing: border-box;
    white-space: normal;
}

.carousel__slide figure {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.carousel__slide div {
    position: relative;
    width: 100%;
}

.carousel__slide .carousel-slide-img:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: calc((2 / 3) * 100%);
}

.carousel__slide div>img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.carousel__slide img {
    display: block;
    flex: 1 1 auto;
    object-fit: cover;
}

.carousel__slide figcaption {
    align-self: flex-end;
    padding: 20px 20px 0 20px;
    flex: 0 0 auto;
    width: 25%;
    min-width: 150px;
}

.carousel__slide figcaption img {
    width: 24px;
    padding-top: 0.2rem;
}

.carousel__slide .credit {
    margin-top: 1rem;
    color: rgba(0, 0, 0, 0.5);
    display: block;
}

.carousel__slide.scrollable {
    overflow-y: scroll;
}

.carousel__thumbnails {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin: 0 -10px;
}

.carousel__thumbnails li {
    flex: 1 1 auto;
    max-width: calc((100% / 6) - 20px);
    margin: 0 10px;
    transition: all 300ms ease-in-out;
    z-index: 2;
}

.carousel__thumbnails label {
    display: block;
    position: relative;
}

.carousel__thumbnails label:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%;
}

.carousel__thumbnails label>img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.carousel__thumbnails label:hover img,
.carousel__thumbnails label:focus img {
    cursor: pointer;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease-in-out;
    z-index: 3;
}

.carousel__thumbnails img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-thumbnails-container {
    margin-top: 1.5rem;
    position: relative;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: none;
    background-color: #333333a2;
    color: white;
    cursor: pointer;
    z-index: 4;
}

#prev {
    left: 1rem;
}

#next {
    right: 1rem;
}

@media (max-width: 768px) {
    .highlighted-projects-section {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 2rem;
    }

    .project-types {
        flex-direction: column;
    }

    .carousel__slide .fig-container{
        max-width: 70vw;
        margin-top: 0;
        padding-top: 0;
    }

    .carousel__slide figure {
        flex-direction: column;
    }

    .carousel__slide figcaption {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .carousel-thumbnails-container {
        max-width: 70vw;
        overflow-x: scroll;
    }

}