/* General container styles */
.highlighted-projects-section {
    height: 100vh;
}

.highlighted-projects-section {
    gap: 2rem;
    padding: 2rem;
}

/* Text content styles */
.projects-text-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    justify-self: center;
    align-self: center;
}

.projects-heading-small {
    font-size: 0.8rem;
    font-weight: bold;
    color: #007BFF;
    margin: 0;
}

.projects-heading-large {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.projects-heading-large-light {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333333a2;
    margin: 0;
}