.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: all 0.3s;
}

.navbar.floating {
    border-radius: 50px;
    padding: 10px 20px;
    width: calc(70%);
    margin: 10px calc(15%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar.hidden {
    opacity: 0;
    pointer-events: none;
}

.navbar .logo {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-items: center;
}

.logo img {
    width: 2rem;
    height: auto;
    padding: 0;
    margin: 0;
}

.navbar .menu {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.navbar .menu a {
    color: #0C0C0C;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.navbar .menu a:hover {
    color: #61A7FF;
}

.navbar .contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact-btn {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border: none;
    background: linear-gradient(45deg, #61A7FF, #7258BC);
    background-size: 200% 200%; /* Expand background for animation */
    background-position: 0% 50%; /* Initial position */
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-position 0.5s ease; /* Smooth background transition */
}

.contact-btn .arrow {
    margin-left: 10px;
    font-size: 18px;
    transition: transform 0.3s ease;
}

.contact-btn:hover {
    background-position: 100% 50%; /* Move gradient to the right */
}

.contact-btn:hover .arrow {
    transform: translateX(5px);
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.mobile-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 1000;
    padding-top: 80px;
}

.mobile-menu-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.mobile-menu a {
    margin: 20px 0;
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 600px) {
    .navbar {
        padding: 10px 15px;
    }

    .navbar.floating {
        width: calc(90%);
        margin: 8px calc(5%);
    }

    .logo img {
        width: 1.5rem;
    }

    .navbar .menu {
        display: none;
    }


    .menu-icon {
        display: block;
        font-size: 30px;
        cursor: pointer;
    }

    .navbar .contact {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .mobile-menu a {
        font-size: 1.5rem;
    }
}